* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, 0.5, 0, 1);

	--index-wave: calc(1vw + 1vh);
	--transition-wave: cubic-bezier(.1,.7,0,1) /* cubic-bezier.com создать кривую безье*/
}

@font-face {
	font-family: ralevay_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: ralevay_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}

body {
	background-color: #010101;
	color: #fff;
	font-family: raleway_f, sans-serif;
	line-height: 1.55; /* Межстрочный интервал */
}



.main-header {
	position: relative;
	height: 100vh;
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index)*10);
	bottom: calc(var(--index)*-4.5);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}
.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	transition: var(--transition); /* у плавного скрола есть анимация, а у моих блоков нет, нужно исправить */
	z-index: 2;
}

.layers__base {
	transform: translate3d(0,calc(var(--scrollTop)/1.6), 0); 
	z-index: 0;
}
.layers__middle {
	transform: translate3d(0,calc(var(--scrollTop) / 2.5), 0); 

}
.layers__front {
	transform: translate3d(0,calc(var(--scrollTop) / 5.7), 0); 
}
.layer__header {
	transition: var(--transition);
	z-index: 1;
	transform: translate3d(0,calc(var(--scrollTop) / 2), 0); 
	text-transform: uppercase;
	font-weight: 900;
	will-change: transform;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
}
.layers__title {
	font-size: calc(var(--index)*2.5);
	letter-spacing: calc(var(--index)/1);
}
.layers__caption {
	font-size: calc(var(--index)/1.175);
	letter-spacing: calc(var(--index)/3.5);
	margin-top: calc(var(--index) * -.75);
}
.main-article {
	--main-article_transform: translate3d(0,calc(var(--scrollTop) / -7.5 ), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	text-align: center;
}

.main-article__header {
	transition: var(--transition);
	text-transform: uppercase;
	font-size: calc(var(--index) *1.8);
	letter-spacing: calc(var(--index) / 7.7);
	transform: var(--main-article_transform);
	will-change: transform;
}
.main-article__paragraph {
	transition: var(--transition);
	max-width: calc(var(--index) * 30 );
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article_transform);
	will-change: transform;
}

.content {
	will-change: transform;
}
.copy {
	 position: absolute;
	 bottom: calc(var(--index) * 2.5);
	 opacity: .45;
	 font-size: calc(var(--index) * .75);
	 letter-spacing: calc(var(--index) / 35.7);
}

/* Block Wave*/
.main_container_waveAndmap {
	height: 100vh;
}
/*Block Map*/
.Rutmap {
	width: 100%;
	height: 100%;
	
}
.container_map {
	height: 60%;
	width: 100%;
}

.container_wave {
	height: 40%;
	width: 100%;
	display: flex; 
	align-items: center; /* по вертикали */
	justify-content: center; 
}

.items {
	display: flex;
	gap: .4rem;
	perspective: calc(var(--index-wave) * 35);
}
.item {
	width: calc(var(--index-wave) * 3);
	height: calc(var(--index-wave) * 12);; 
	background-color: #222;
	background-size: cover;
	background-position: center;
	cursor: pointer;

	filter: grayscale() brightness(.5);
	transition: transform 1.25s var(--transition-wave), filter 3s var(--transition-wave), width .6s cubic-bezier(.62,-0.04,.83,.67); /*  transition: property duration timing-function delay; */

	will-change: transform, filter; /* говорим браузеру подготовиться к нагрузке (тобишь к анимации transform, filter) */
}
/* Заглушки между карточками, чтобы курсор не проваливался*/
.item::before, .item::after {
	content: '';
	position: absolute;
	/* background-color: #fff; */
	height: 100%;
	width: 35px;
	right: calc(var(--index-wave) * -1 );
}
.item::after {
	left: calc(var(--index-wave) * -1 );
}

.items .item:hover {
	width: calc(var(--index-wave) * 5);
	filter: inherit;
	transform: translateZ(calc(var(--index-wave) * 10));
}
/* Right */

.items .item:hover + * {
	filter: inherit;
	transform: translateZ(calc(var(--index-wave) * 8.5)) rotateY(35deg);
	z-index: -1;
}
.items .item:hover + * + * {
	filter: inherit;
	transform: translateZ(calc(var(--index-wave) * 5.6)) rotateY(40deg);
	z-index: -2;
}
.items .item:hover + * + * + *{
	filter: inherit;
	transform: translateZ(calc(var(--index-wave) * 2.4))rotateY(30deg);
	z-index: -3;
}
.items .item:hover + * + * + * + *{
	filter: inherit;
	transform: translateZ(calc(var(--index-wave) * .6)) rotateY(14deg);
	z-index: -4;
}

/* Left */

.items .item:has(+ :hover) { /* Если следующий элемент имеет class = "active" то собственно*/
	filter: inherit;
	transform: translateZ(calc(var(--index-wave) * 8.5)) rotateY(-35deg);
	/* по z-index все итак правильно формируется*/
}
.items .item:has(+ * + :hover){
	filter: inherit;
	transform: translateZ(calc(var(--index-wave) * 5.6)) rotateY(-40deg);
}
.items .item:has(+ * + * + :hover){
	filter: inherit;
	transform: translateZ(calc(var(--index-wave) * 2.4)) rotateY(-30deg);
	
}
.items .item:has(+ * + * + * + :hover){
	filter: inherit;
	transform: translateZ(calc(var(--index-wave) * .6)) rotateY(-14deg);
}



